
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .content {
            background: red;
        }
        .left {
            height: 80px;
            background: green;
            /*float: left;*/
        }
        .left-url {
            float: left;
        }
        .right {
            float: right;
            background: blue;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="left-url">
                <span>
                    efe.baidu.com
                </span>
            </div>
        </div>
        <!-- <div style="height:20px"> -->
            <span class="right">2016-04-14 19:26:34</span>
        <!-- </div> -->
        <!-- <div style="height: 300px;background: gray"></div> -->
    </div>
</body>
</html>